USE [dxxtContext]
GO
/****** Object:  StoredProcedure [dbo].[GetStudentListPagedAndSearched]    Script Date: 12/21/2023 2:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStudentListPagedAndSearched]
    @PageNumber INT,
    @PageSize INT,
    @SearchQuery NVARCHAR(25) = NULL,
    @TotalCount INT OUTPUT
AS
BEGIN

    SELECT @TotalCount = COUNT(*)
    FROM Student WITH (NOLOCK)
    WHERE IsDelete = 0
    AND (@SearchQuery IS NULL OR StudentName LIKE '%' + @SearchQuery + '%');

    SELECT * FROM Student
    WHERE IsDelete = 0
    AND (@SearchQuery IS NULL OR StudentName LIKE '%' + @SearchQuery + '%')
    ORDER BY StudentName
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
