@model dxxt.Models.Subject

@{
    ViewData["Title"] = "Delete Subject";
}

<h1>Delete Subject</h1>
<hr />
<div>
    <h4>Are you sure you want to delete this subject?</h4>
    <dl class="row">
        <dt class="col-sm-2">Subject Name</dt>
        <dd class="col-sm-10">@Model.SubjectName</dd>
    </dl>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="SubjectID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
