@model dxxt.Models.Subject

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LecturerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LecturerID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SubjectID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
