@model dxxt.Models.Subject

@{
    ViewData["Title"] = "Edit Subject";
}

<h1>Edit Subject</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubjectID" />
            <div class="form-group">
                <label asp-for="SubjectName" class="control-label">Subject Name</label>
                <input asp-for="SubjectName" class="form-control" />
                <span asp-validation-for="SubjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LecturerID" class="control-label">Lecturer</label>
                <select asp-for="LecturerID" class="form-control" asp-items="ViewBag.Lecturers"></select>
                <span asp-validation-for="LecturerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {

            $('#LecturerID').select2();
        });
    </script>
}
